@import domain.SalesOrder

@(orders: List[SalesOrder])
@for(order <- orders){<SalesOrderID>@order.salesOrderID<OrderDate>@order.orderDate</OrderDate>
        @for(detail <- order.orderDetails) {
            <SalesOrderDetailID>@detail.salesOrderDetailID<ProductID>@detail.productID</ProductID>
            <OrderQty>@detail.orderQty</OrderQty>
            <UnitPrice>@detail.unitPrice</UnitPrice>
            <LineTotal>@detail.lineTotal</LineTotal>
            </SalesOrderDetailID>
        }
    </SalesOrderID>
}